:root {
    --bg-cinza: #F1F0F0;
    --bg-vermelho: #EA1D2C;
    --bg-preto: #000000;
    --bg-azul: #297AF4;
    --bg-cinza-claro: #d3d3d3;
    --bg-branco: #FFFFFF;
    --bg-verde: #0B8F10;
    --bg-rosa: #FCF3F3;
    --bg-cinza-escuro: #D9D9D9;
    --bg-cinza-gray: #656262;
    --transicao: .5s;
    --font-family: "Averia Serif Libre", system-ui;
}